* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
}

body {
  padding-top: 60px;

  font-family: "Poppins", "Inter",  "Segoe UI", "Helvetica Neue", Arial;
  overflow-x: hidden;
  min-height: 100vh;

  background:
    linear-gradient(
      70deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.25) 55%,
      rgba(0, 0, 0, 0.55) 60%,
      rgba(0, 0, 0, 0.85) 100%
    ),
    linear-gradient(180deg, #1c1938 25%, #121312 100%);

}

.container {
  width: min(1280px, 92%);
  margin: 0 auto;
}
